extends ../app

block variables
  -
    const pageTitle = `Головна`;

block content
  .page.main
    .search
      .input-group.oh-search-container
        input.form-control#instagram-link(type='text' placeholder='Посилання на сторiнку instagram')
        button.btn.btn-primary#start Почати
      a.link-secondary.oh-download(href='/shops') До завантажень

    .results
      .handled
        p Оброблено
        span 0

      .save-excel
        button
          img(src='/images/excel.png', alt='excel')

    .goods

block scripts
  script(src='/javascripts/web/main.script.js')