extends ../app

block variables
  -
    const pageTitle = `Товари`;
    console.log(shops);

block content
  .page.shop-goods
    table.table-bordered
      tr
        th #
        th Посилання
        th Текст
        th Зображення
      
      tr
        td 1
        td
          a.btn.btn-primary(href='https://www.instagram.com/p/B-9VqmtnxiA/') Перейти
        td
          p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.
        td
          img(src="https://imagedelivery.net/Sr5TcSxfgTwimhe4rfPwMg/01b919fe-0f63-44dc-0c63-247da33f3000/public", alt="img1")
          img(src="https://imagedelivery.net/Sr5TcSxfgTwimhe4rfPwMg/77c53368-7198-44ce-a17c-770ff7768100/public", alt="img1")
          
      tr
        td 2
        td
          a.btn.btn-primary(href='https://www.instagram.com/p/B-9VqmtnxiA/') Перейти
        td
          p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или "невозможных" слов.
        td
          img(src="https://imagedelivery.net/Sr5TcSxfgTwimhe4rfPwMg/01b919fe-0f63-44dc-0c63-247da33f3000/public", alt="img1")
          img(src="https://imagedelivery.net/Sr5TcSxfgTwimhe4rfPwMg/77c53368-7198-44ce-a17c-770ff7768100/public", alt="img1")

block scripts
  script(src='/javascripts/web/shops.script.js')
  