doctype html

include ./includes/head
	
body
	block content

	.alerts
		//- .alert.success
		//- 	.alert-content
		//- 		p Сообщение

		//- .alert.warning
		//- 	.alert-content
		//- 		p Сообщение

		//- .alert.error
		//- 	.alert-content
		//- 		p Сообщение

	script(src='/libs/jquery.min.js')
	script(src='/libs/bootstrap.min.js')
	script(src='/javascripts/helpers.js')

	block scripts
