body {
  background: url("/images/background.png") repeat;
}

.page {
  width: 100%;
  height: 100%;
  padding: 50px;
}

.back {
  margin-bottom: 10px;
}

.page.main .search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page.main .search .oh-search-container {
  width: 50%;
}
.page.main .search a.oh-download {
  margin-left: 10px;
}
.page.main .results {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  display: none;
}
.page.main .results.active {
  display: flex;
}
.page.main .results .handled p {
  display: inline-block;
  margin-bottom: 0;
}
.page.main .results .handled span {
  margin-left: 8px;
  display: inline-block;
  background-color: white;
  padding: 0 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.page.main .results .save-excel {
  width: 40px;
  position: relative;
  bottom: 2px;
}
.page.main .results .save-excel button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
}
.page.main .results .save-excel button img {
  width: 100%;
  height: 100%;
}
.page.main .goods {
  display: flex;
  margin-top: 17px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.page.main .goods .card {
  width: 20%;
  margin: 15px;
  display: flex;
}
.page.main .goods .card a.btn {
  width: 100%;
  margin-top: 10px;
}

.page.shops table {
  width: 100%;
  text-align: center;
}
.page.shops table th.id {
  width: 1%;
}
.page.shops table th.name {
  width: 10%;
}
.page.shops table th.actions {
  width: 10%;
}
.page.shops table td {
  padding: 10px 20px;
}
.page.shops table td .actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page.shops table td .actions button {
  margin-top: 20px;
}

.page.shop-goods table {
  width: 100%;
  text-align: center;
}
.page.shop-goods table th.id {
  width: 1%;
}
.page.shop-goods table th.title {
  width: 10%;
}
.page.shop-goods table th.description {
  width: 20%;
}
.page.shop-goods table th.price {
  width: 10%;
}
.page.shop-goods table th.attributes {
  width: 10%;
}
.page.shop-goods table th.text {
  width: 20%;
}
.page.shop-goods table th.actions {
  width: 10%;
}
.page.shop-goods table th.images {
  width: 10%;
}
.page.shop-goods table td {
  padding: 10px 20px;
}
.page.shop-goods table td input.price {
  text-align: center;
}
.page.shop-goods table td p.text {
  text-align: left;
}
.page.shop-goods table td img {
  max-width: 100px;
  border-bottom: 3px solid black;
}
.page.shop-goods table td textarea {
  resize: none;
}
.page.shop-goods table td .actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page.shop-goods nav {
  display: flex;
  justify-content: space-between;
}
.page.shop-goods nav .save-excel {
  width: 40px;
  position: relative;
  bottom: 2px;
  display: flex;
  align-items: center;
}
.page.shop-goods nav .save-excel button {
  width: 100%;
  border: none;
  background-color: transparent;
}
.page.shop-goods nav .save-excel button img {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=styles.css.map */
