body {
  background: url("/images/background.png") repeat;
}

.page {
  width: 100%;
  height: 100%;
  padding: 50px;
}

.back {
  margin-bottom: 10px;
}

.alerts {
  width: 20%;
  max-width: 310px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
  padding: 25px 25px;
}
.alerts .alert {
  display: flex;
  align-items: center;
  padding: 15px;
  border: 2px solid transparent;
  box-sizing: border-box;
  background: rgba(17, 21, 20, 0.7);
  backdrop-filter: blur(10px);
  border-radius: 16px;
  margin-bottom: 15px;
}
.alerts .alert.success {
  border-color: #00C37C;
}
.alerts .alert.warning {
  border-color: #F3BA2F;
}
.alerts .alert.error {
  border-color: #FF1313;
}
.alerts .alert svg {
  min-width: 17px;
  min-height: 17px;
}
.alerts .alert .alert-content {
  padding: 0 10px;
}
.alerts .alert .alert-content p {
  font-size: 13px;
  color: white;
  margin: 0;
  padding: 0;
}
.alerts .alert .close {
  margin-left: auto;
  padding: 0;
}

.page.main .search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page.main .search .oh-search-container {
  width: 50%;
}
.page.main .search a.oh-download {
  margin-left: 10px;
}
.page.main .results {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  display: none;
}
.page.main .results.active {
  display: flex;
}
.page.main .results .handled p {
  display: inline-block;
  margin-bottom: 0;
}
.page.main .results .handled span {
  margin-left: 8px;
  display: inline-block;
  background-color: white;
  padding: 0 6px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.page.main .results .save-excel {
  width: 40px;
  position: relative;
  bottom: 2px;
}
.page.main .results .save-excel button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: transparent;
}
.page.main .results .save-excel button img {
  width: 100%;
  height: 100%;
}
.page.main .goods {
  display: flex;
  margin-top: 17px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.page.main .goods .card {
  width: 20%;
  margin: 15px;
  display: flex;
}
.page.main .goods .card a.btn {
  width: 100%;
  margin-top: 10px;
}

.page.shops table {
  width: 100%;
  text-align: center;
}
.page.shops table th.id {
  width: 1%;
}
.page.shops table th.name {
  width: 10%;
}
.page.shops table th.actions {
  width: 10%;
}
.page.shops table td {
  padding: 10px 20px;
}
.page.shops table td .actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page.shops table td .actions button {
  margin-top: 20px;
}

.page.shop-goods nav {
  display: flex;
  justify-content: space-between;
}
.page.shop-goods nav > div {
  display: flex;
}
.page.shop-goods nav .save-excel {
  width: 50px;
  position: relative;
  bottom: 5px;
  display: flex;
  align-items: center;
}
.page.shop-goods nav .save-excel button {
  width: 100%;
  border: none;
  background-color: transparent;
}
.page.shop-goods nav .save-excel button img {
  width: 100%;
  height: 100%;
}
.page.shop-goods .table-goods {
  max-width: 100%;
  overflow-x: scroll;
}
.page.shop-goods .table-goods .item {
  display: flex;
}
.page.shop-goods .table-goods .item .column {
  min-width: 400px;
}
.page.shop-goods .table-goods .table-header {
  border-left: 1px solid black;
}
.page.shop-goods .table-goods .table-header .item .column {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.page.shop-goods .table-goods .table-header .item .column h4 {
  margin: 0;
  padding: 10px;
  text-align: center;
}
.page.shop-goods .table-goods .table-header .item .column.id h4 {
  text-align: left;
}
.page.shop-goods .table-goods .table-body .item:last-child .column {
  border-bottom: none;
}
.page.shop-goods .table-goods .table-body .item .column {
  height: 400px;
  border-bottom: 1px solid black;
}
.page.shop-goods .table-goods .table-body .item .column textarea {
  height: 100%;
  resize: none;
  outline: none;
  border-radius: 0;
}
.page.shop-goods .table-goods .table-body .item .column textarea:focus {
  box-shadow: none;
}
.page.shop-goods .table-goods .table-body .item .column img {
  width: 100%;
}
.page.shop-goods .table-goods .table-body .item .column.attributes .input-group {
  height: 20%;
}
.page.shop-goods .table-goods .table-body .item .column.actions {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 40px;
}
.page.shop-goods .table-goods .table-body .item .column.images {
  overflow-y: scroll;
}
.page.shop-goods .table-goods .table-body .item .column.images img {
  border-bottom: 3px solid black;
}
.page.shop-goods .table-goods .table-body .item .column.images img:last-child {
  border-bottom: none;
}

/*# sourceMappingURL=styles.css.map */
